html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f5f8fa;
  max-width: 1200px;
  margin: 0 auto;
}
.hr {
  border-bottom: 1px solid #F5F7FA;
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  margin-top: 30px;
}
header {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #e0e6ea;
  margin-bottom: 80px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  margin-right: auto;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  font-weight: normal;
  display: block;
}

.button {
  padding: 0.5rem;
  border: 2px solid #646e7a;
  border-radius: 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout {
  width: 580px;
  height: 790px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05),
    0px 15px 35px 0px rgba(43, 64, 78, 0.1);
  padding-left: 48px;
  padding-right: 45px;
}
.checkout-content {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
}
h2 {
  width: 161px;
  height: 54px;
  flex-shrink: 0;
  color: #1d2c3c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h3 {
  width: 246px;
  color: #1d2c3c;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.16px;
}
.name {
  display: flex;
  gap: 5px;
}
button {
  width: 483px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #038e7d;
  color: white;
}
.stripe {
  width: 92px;
  height: 20.101px;
  flex-shrink: 0;
}
.freelancer {
  width: 312px;
  height: 790px;
  flex-shrink: 0;
  border-radius: 0px 6px 6px 0px;
  background: #1179bf;
  padding-left: 45px;
  padding-right: 39px;
}
.freelancer ul {
  list-style-type: none;
}
.freelancer h3 {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
}
sup {
  color: #fff;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.015px;
}
.price {
  color: #fff;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.015px;
}
sub {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.015px;
}
footer {
  max-width: 1200px;
  margin: 0 auto;
}
.footer {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}
.footer a {
  color: #31708f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.footer p {
  color: #636b6f;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
